extends ../layout

block content
  .page-header
    h3(style = 'font-family:"Helvetica Neue";') Sign up
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
    .form-group
      .col-sm-offset-3.col-sm-7
        hr
    .form-group
      .col-sm-offset-5.col-sm-7
        a(href='/auth/google', title='Google')
          img(src='images/web/2x/btn_google_signin_dark_normal_web@2x.png', align='middle', width='220px')
        