footer
  .div(style='background-color:#a82381;')
    hr(style='height:2px; visibility:hidden;margin-top:6px;margin-bottom:0px;')
    .container
      .row
        .col-md-2(style='text-align:center;')
          h3(style='color:#fff !important;font-size:25px !important;margin-top:35px !important;') Piggy
        .col-md-5
        .col-md-5(style='color:#fff !important;text-align:center;')
          .p(style='color:#fff !important;margin-top:15px !important;font-size:130% !important;')
          | Questions? 
          | Contact 
          a(style='color:#382633 !important; font-size:110%;', href='mailto:crystal.rood.1@gmail.com') Piggy
          hr(style='color:#382633 !important; height:1px; visibility:hidden;margin-top:0px;margin-bottom:0px;')
          a(style='color:#382633 !important;', href='/terms')   Terms 
          | |
          a(style='color:#382633 !important;', href='/privacynotice')  Privacy Policy
        br
        br
        hr(style='height:2px; visibility:hidden;margin-top:4px;margin-bottom:0px;')
