extends layout

block content
  .row
    .container
      .row
        #welcome.container
          .col-sm-4.col-sm-offset-4
            br
            //img(src='images/piggie_broken.png', align='middle', width="50%")
            br     
            br              
            img(src='images/piggie_font.png', align='middle', width="50%")
  br
  .row
    .container
      .row
        #welcome.container
          br
          #welcome
            .col-md-8.col-sm-offset-2
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') Piggy is a little broken right now, feel free to sign up, but don't expect to save right away.
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') Automatically get refunds on purchases when prices drop. 
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 25px;font-weight: 500;line-height: 1.4;')|Join for free & start earning!  
              br


    <hr>
      </hr>
      br
      .row
        .container
        .row
          #welcome.container
            .col-sm-4.col-sm-offset-4
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 450;line-height: 1.4;') How does Piggy work? 
      br
      .row
        #welcome.container
          #welcome.col-sm-4
            br
            br
            img(src='images/email+piggie.png', align='middle', height='120px')    
            br
            br
            .row
              br
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 20px;font-weight: 300;line-height: 1.4;') (1) Connect Piggy to your email.
              br 
          #welcome.col-sm-4
            br
            img(src='images/receipt+piggie.png', align='middle', height='160px')    
            br
            br
            .row
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 20px;font-weight: 300;line-height: 1.4;') (2) Piggy will search for lower prices on past orders.   
              br
          #welcome.col-sm-4
            br  
            img(src='images/laptop+piggie.png', align='middle', height='160px')    
            br
            br     
            .row       
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 20px;font-weight: 300;line-height: 1.4;') (3) Piggy will contact you and the retailer when she finds a lower price.
              br
    br
    br
    br
    .row
      .container
        .row
          #welcome.container
            br
            #welcome
              .col-md-8.col-sm-offset-2
                p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') For Michelle:
                .row
                  p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') 
                  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=piggysaveme-20&marketplace=amazon&region=US&placement=1975300416&asins=1975300416&linkId=e5a6bacbb8769aafbef8ea5fbf19c713&show_border=true&link_opens_in_new_window=true"></iframe>
                br
                .row
                  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=piggysaveme-20&marketplace=amazon&region=US&placement=B0711PVX6Z&asins=B0711PVX6Z&linkId=0c74680e27476dd7ab466600db01d8df&show_border=true&link_opens_in_new_window=true"></iframe>
                br
                .row
                  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=piggysaveme-20&marketplace=amazon&region=US&placement=B01NAUKS62&asins=B01NAUKS62&linkId=b93ee0c28c26ca351b275fb4e7b52331&show_border=true&link_opens_in_new_window=true"></iframe>