extends layout
<script src='https://www.google.com/recaptcha/api.js'></script>


block content
  .row
    .container
      .row
        #welcome.container
          br
          br
          br
          .col-sm-4.col-sm-offset-4
            br
            img(src='images/piggie_font.png', align='middle', width="30%")
            br
            br
            img(src='images/piggie_v2.png', align='middle', width="30%")
            br
            br
            p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') Get notified when prices drop for free!
            form.form-group(action='/', method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              <label class="col-sm-3 control-label" for="email"></label>
                <input class="form-control" style="border:1px solid #189aff; !important;border-radius:5px !important;" type="email" name="email" id="email" placeholder="Email" autofocus="" required="">
              <label class="col-sm-3 control-label" for="email"></label>
                <input class="form-control" style="border:1px solid #189aff; !important;border-radius:5px !important;"  name="url" id="url" placeholder="Product URL" autofocus="" required="">
              br
              <div class="g-recaptcha" data-sitekey="6LexWFMUAAAAAF76TBXmR97co3veRZZLGsiY_xxS"></div>

              button.btn.btn-primary(type='submit')(style="width:50%;")
                i.fa.fa-envelope
                | Start tracking!


            br     
            br    
            p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') We'll email you once we notice a price drop.
            br
            br
            br
            br
           

  


  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109512311-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109512311-1');

