extends layout

block content
  .row
    .container
      .row
        #welcome.container
          .col-sm-4.col-sm-offset-4
            br
            img(src='images/piggie_v2.png', align='middle', width="50%")
            br     
            br              
            img(src='images/piggie_font.png', align='middle', width="50%")

  p.lead Automatically get refunds on purchases when prices drop. Join for free & start earning!
  hr
  .row
    .container
      .row
        #welcome.container
          br
          br
          #welcome
            .col-sm-6.col-sm-offset-3
              p.lead Start saving now by signing up for Piggie
      
      .row
        #welcome.container
          #welcome.col-sm-4
            br
            br
            p.lead (1) Connect Piggie to your email
            br
            br
            img(src='images/email+piggie.png', align='middle', width="75%")    
            br
            br
          #welcome.col-sm-4
            br      
            p.lead (2) Piggie will start tracking all your orders and search for lower prices
            br
            img(src='images/recipet+piggie.png', align='middle', width="75%")    
            br
            br
          #welcome.col-sm-4
            br              
            p.lead (3) Piggie will contact both you and the retailer on your behalf if she finds a lower price.
            img(src='images/laptop+piggie.png', align='middle', width="65%")    

    
    
    
  br
  br
  br
  hr
  .row
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
