extends layout

block content
  .row
    .container
      .row
        #welcome.container
          .col-sm-4.col-sm-offset-4
            br
            img(src='images/piggie_v2.png', align='middle', width="50%")
            br     
            br              
            img(src='images/piggie_font.png', align='middle', width="50%")
  br
  .row
    .container
      .row
        #welcome.container
          br
          br
          #welcome
            .col-sm-6.col-sm-offset-3
              p.lead Automatically get refunds on purchases when prices drop. Join for free & start earning!
      br
      br
      .row
        #welcome.container
          #welcome.col-sm-4
            br
            br
            img(src='images/email+piggie.png', align='middle', height='120px')    
            br
            br
            .row
              br
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 17px;font-weight: 300;line-height: 1.4;') (1) Connect Piggie to your email.
              br 
          #welcome.col-sm-4
            br
            img(src='images/receipt+piggie.png', align='middle', height='140px')    
            br
            br
            .row
              br
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 17px;font-weight: 300;line-height: 1.4;') (2) Piggie will search for lower prices on past orders.
              br
          #welcome.col-sm-4
            br  
            img(src='images/laptop+piggie.png', align='middle', height='160px')    
            br
            br     
            .row       
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 17px;font-weight: 300;line-height: 1.4;') (3) Piggie will contact you and the retailer when she finds a lower price.
              br

    
    
