extends layout

block content
  .row
    .container
      .row
        #welcome.container
          .col-sm-4.col-sm-offset-4
            br
            br
            br
            img(src='images/piggie_broken.png', align='middle', width="50%")
            br     
            br              
            img(src='images/piggie_font.png', align='middle', width="50%")
  br
  .row
    .container
      .row
        #welcome.container
          br
          #welcome
            .col-md-8.col-sm-offset-2
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') Piggy is a little broken right now, feel free to sign up, but don't expect to save right away.
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 300;line-height: 1.4;') Automatically get refunds on purchases when prices drop. 
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 25px;font-weight: 500;line-height: 1.4;')|Join for free & start earning!  
              br
          #welcome
            .col-md-8.col-sm-offset-2
              .form-group
                .col-sm-offset-3.col-sm-6
                  a(href='/auth/google', title='Google')
                    img(src='images/web/2x/btn_google_signin_dark_normal_web@2x.png', align='middle', width='220px')
              br
          
      br
      br
      br 
      <hr>
      </hr>
      br
      .row
        .container
        .row
          #welcome.container
            .col-sm-4.col-sm-offset-4
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 23px;font-weight: 450;line-height: 1.4;') How does Piggy work? 
      br
      .row
        #welcome.container
          #welcome.col-sm-4
            br
            br
            img(src='images/email+piggie.png', align='middle', height='120px')    
            br
            br
            .row
              br
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 20px;font-weight: 300;line-height: 1.4;') (1) Connect Piggy to your email.
              br 
          #welcome.col-sm-4
            br
            img(src='images/receipt+piggie.png', align='middle', height='160px')    
            br
            br
            .row
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 20px;font-weight: 300;line-height: 1.4;') (2) Piggy will search for lower prices on past orders.   
              br
          #welcome.col-sm-4
            br  
            img(src='images/laptop+piggie.png', align='middle', height='160px')    
            br
            br     
            .row       
              br
              p(style = 'font-family:"Helvetica Neue";margin-bottom: 20px;font-size: 20px;font-weight: 300;line-height: 1.4;') (3) Piggy will contact you and the retailer when she finds a lower price.
              br
    br
    br
    br


  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109512311-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109512311-1');