//start - manually extend layout
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Piggy
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')

    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X', 'auto');
      ga('send', 'pageview');
//end - manually extend layout
block content
  script(type='text/javascript').
    var CSRF_HEADER = 'x-csrf-token';

    var setCSRFToken = function (securityToken) {
      jQuery.ajaxPrefilter(function (options, _, xhr) {
        if (!xhr.crossDomain) {
          xhr.setRequestHeader(CSRF_HEADER, securityToken);
        }
      });
    };
    
    
    
    function create_html(value, status){
      var retailer = value['retailer']
      var status = value['status']
      var item_link = value['image_url']
      var item_name = value['item_name']
      var quantity = value['quantity']
      var purchase_price = value['price']
      var order_num = value['order_num']
      var date_purchased = value['date']
      var html = ''
      if (status == 'tracking'){
        html += '<div class="item_checking" id="item_checking"><div class="row"><h3 class="col-sm-4">'
        html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4">'
        html += '<span style="background-color:#380083;font color:;color: white;letter-spacing: 2px; padding: 5px;">tracking</span></h4>'
      }

      if (status == 'need_to_contact'){
        html += '<div class="item_checking" id="item_checking"><div class="row"><h3 class="col-sm-4">'
        html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4">'
        html += '<span style="background-color:#380083;font color:;color: white;letter-spacing: 2px; padding: 5px;">tracking</span></h4>'
      }
      
      if (status == 'confirmed'){
        html += '<div class="refunded_savings" id="refunded_savings"><div class="row"><h3 class="col-sm-4"> '
        html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4"> '
        html += '<span style="background-color:#008745;font color:;color: white;letter-spacing: 3px; padding: 5px;">refunded!</span></h4>'
      }
      
      if (status == 'not_eligible'){
        html += '<div class="not_eligable" id="not_eligable"><div class="row"><h3 class="col-sm-4">'
        html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4">'
        html += '<span style="background-color:#565656;font color:;color: white; letter-spacing: 3px; padding: 5px;">ineligible</span></h4>'
      }
      
      if (status == 'contacted'){
        html += '<div class="retailer_contacted" id="retailer_contacted"><div class="row"><h3 class="col-sm-4">'
        html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4"> '
        html += '<span style="background-color:#840469;font color:;color: white;letter-spacing: 3px; padding: 5px;">contacted</span></h4>'
      }
      
      
      html += '</div><div class="row"><div class="div col-sm-2"><img src="'
      html += item_link + '" width="140px"></div><div class="div col-sm-7 col-sm-offset-3"><p class="item_checking"> <span>Item: </span>'
      html += item_name + ' X ' + quantity + '<br><span>Unit Price: </span>' + '$'+ purchase_price + '<br><span>Order Number: </span>' 
      html += order_num + '<br><span>Date Ordered: </span>' + date_purchased + '</p></div></div></div>'
      
      return html
    
    
    }
    
    
    function create_tracking_html(value){
      var retailer = value['retailer']
      var status = value['status']
      var item_link = value['image_url']
      var item_name = value['item_name']
      var quantity = value['quantity']
      var purchase_price = value['price']
      var order_num = value['order_num']
      var date_purchased = value['date']
      html = ''
      html += '<div class="item_checking" id="item_checking"><div class="row"><h3 class="col-sm-4">'
      html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4">'
      html += '<span style="background-color:#380083;font color:;color: white;letter-spacing: 2px; padding: 5px;">tracking</span></h4>'
      html += '</div><div class="row"><div class="div col-sm-2"><img src="'
      html += item_link + '" width="140px"></div><div class="div col-sm-7 col-sm-offset-3"><p class="item_checking"> <span>Item: </span>'
      html += item_name + ' X ' + quantity + '<br><span>Unit Price: </span>' + '$'+purchase_price + '<br><span>Order Number: </span>' 
      html += order_num + '<br><span>Date Ordered: </span>' + date_purchased + '</p></div></div></div>'
      return html
    }
    
    function created_email_html(value){
      var retailer = value['retailer']
      var status = value['status']
      var item_link = value['image_url']
      var item_name = value['item_name']
      var quantity = value['quantity']
      var purchase_price = value['price']
      var order_num = value['order_num']
      var date_purchased = value['date']
      html = ''
      html += '<div class="retailer_contacted" id="retailer_contacted"><div class="row"><h3 class="col-sm-4"> '
      html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4"> '
      html += '<span style="background-color:#840469;font color:;color: white;letter-spacing: 3px; padding: 5px;">contacted</span></h4>'
      html += '</div><div class="row"><div class="div col-sm-2"><img src="'
      html += item_link + '" width="140px"></div><div class="div col-sm-7 col-sm-offset-3"><p class="item_checking"> <span>Item: </span>'
      html += item_name + ' X ' + quantity + '<br><span>Unit Price: </span>' + '$'+purchase_price + '<br><span>Order Number: </span>' 
      html += order_num + '<br><span>Date Ordered: </span>' + date_purchased + '</p></div></div></div>'
      return html
    }
    
    function refunded_html_add(value){
      var retailer = value['retailer']
      var status = value['status']
      var item_link = value['image_url']
      var item_name = value['item_name']
      var quantity = value['quantity']
      var purchase_price = value['price']
      var order_num = value['order_num']
      var date_purchased = value['date']
      html = ''
      html += '<div class="refunded_savings" id="refunded_savings"><div class="row"><h3 class="col-sm-4"> '
      html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4"> '
      html += '<span style="background-color:#008745;font color:;color: white;letter-spacing: 3px; padding: 5px;">refunded!   </span></h4>'
      html += '</div><div class="row"><div class="div col-sm-2"><img src="'
      html += item_link + '" width="140px"></div><div class="div col-sm-7 col-sm-offset-3"><p class="item_checking"> <span>Item: </span>'
      html += item_name + ' X ' + quantity + '<br><span>Unit Price: </span>' + '$'+purchase_price + '<br><span>Order Number: </span>' 
      html += order_num + '<br><span>Date Ordered: </span>' + date_purchased + '</p></div></div></div>'
      return html
    }
    
    function ineligible_html_add(value){
      var retailer = value['retailer']
      var status = value['status']
      var item_link = value['image_url']
      var item_name = value['item_name']
      var quantity = value['quantity']
      var purchase_price = value['price']
      var order_num = value['order_num']
      var date_purchased = value['date']
      html = ''
      html += '<div class="not_eligable" id="not_eligable"><div class="row"><h3 class="col-sm-4">'
      html += retailer + '</h3><h4 class="col-sm-4 col-sm-offset-4"> '
      html += '<span style="background-color:#565656;font color:;color: white; letter-spacing: 3px; padding: 5px;">ineligible </span></h4'
      html += '</div><div class="row"><div class="div col-sm-2"><img src="'
      html += item_link + '" width="140px"></div><div class="div col-sm-7 col-sm-offset-3"><p class="item_checking"> <span>Item: </span>'
      html += item_name + ' X ' + quantity + '<br><span>Unit Price: </span>' + '$'+purchase_price + '<br><span>Order Number: </span>' 
      html += order_num + '<br><span>Date Ordered: </span>' + date_purchased + '</p></div></div></div>'
      return html
    }
    

    window.onload = function bring_in_da_data() {
      
        //getting the data from the initial pull upon page load
        var data_for_db = document.getElementById("order_info_data").value;
        var data_for_db_value = JSON.parse( data_for_db );
        
        var main_container = document.getElementById("myTableData")
        var html_to_add = ''
        
        for (var i = 0; i < data_for_db_value.length; i++){
      
          if (data_for_db_value[i]['status'] == 'tracking'){
            html = create_html(data_for_db_value[i], 'tracking')
            html_to_add += html
          }

          if (data_for_db_value[i]['status'] == 'need_to_contact'){
            html = create_html(data_for_db_value[i], 'need_to_contact')
            html_to_add += html
          }
          
          if (data_for_db_value[i]['status'] == 'contacted'){
            html = create_html(data_for_db_value[i], 'contacted')
            html_to_add += html
          }
          
          if (data_for_db_value[i]['status'] == 'not_eligible'){
            html = create_html(data_for_db_value[i], 'not_eligible')
            html_to_add += html
          }
          
          if (data_for_db_value[i]['status'] == 'confirmed'){
            html = create_html(data_for_db_value[i], 'confirmed')
            html_to_add += html
          }
          
          
         }

         if (data_for_db_value.length == 0){
            html_to_add += '<p style="font-size:18px;line-height:1.5;color:#4c5459;padding-left: 20px;" class="paragraph">'
            html_to_add += 'We scrape orders <b>daily</b>, with a 90-day lookback window. If you signed up or purchased something today it will show up under'
            html_to_add += '"Your Orders" by tomorrow.<br/><br/>Currently we are beta testing with Nordstrom orders only, once we have a larger following we will e'
            html_to_add += 'xpand!<br/>Have a suggestion on a retailer to add? Fill out a short form <a href="https://goo.gl/forms/FGngQvlPw2jaesZN2">here</a>.</p><br/>'

          }

         $('#main').append(html_to_add); 
         //console.log(html_to_add)
        /*
        //appending all rows to the myTableData table :)
               
        */    
    
    
    }
    
  
  br
  br
  .container
    .col-md-12
      h1(style="font-size:30px") Your orders
    
      input.form-control(type='hidden', id="order_info_data", value=  JSON.stringify(orders))
  
  #main.container


  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-109512311-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109512311-1');