extends layout

block content
  script(type='text/javascript').
    var CSRF_HEADER = 'x-csrf-token';

    var setCSRFToken = function (securityToken) {
      jQuery.ajaxPrefilter(function (options, _, xhr) {
        if (!xhr.crossDomain) {
          xhr.setRequestHeader(CSRF_HEADER, securityToken);
        }
      });
    };

    window.onload = function bring_in_da_data() {
      
        //getting the data from the initial pull upon page load
        var data_for_db = document.getElementById("order_info_data").value;

        var data_for_db_value = JSON.parse( data_for_db );
        console.log(data_for_db_value[0])
          
          
        for (var i = 0; i < data_for_db_value.length; i++){
          console.log(data_for_db_value[i])  
          
         }
        /*
         //putting all the new rows from the post function together in HTML
        shifts_data.forEach(function(item, itemIndex){
        if(item.date_range_start == date_selected_in_dropdown) {
          trHTML += '<tr><td>' + item.employee_type
            +'<td>' + item.days_worked
            +'<td>' + item.num_employees
            +'<td>' + item.shift_start_time
            +'<td>' + item.shift_end_time
            +'<td>' + '<input type="button" name="btn-Edit" value="Edit" onClick="Javacsript:editRow(this)"/>'
            +'<td>' + '<input type="button" name="Delete" value="Delete" onClick="Javacsript:deleteRow(this)"/>'
        }
        })

        //appending all rows to the myTableData table :)
        $('#myTableData').append(trHTML);        
        */    
    
    
    }
    
  
  
  h1 Your orders
  br
  br
  input.form-control(type='hidden', id="order_info_data", value=  JSON.stringify(orders))
  
  .container
    #item_checking.item_checking
      .row
        h3.col-sm-4  Nordstrom
        h4.col-sm-4.col-sm-offset-4 
          span(style='background-color:#380083;font color:;color: white;letter-spacing: 2px; padding: 5px;') tracking
      .row
        .div.col-sm-2
          img(src='http://n.nordstrommedia.com/ImageGallery/store/product/Zoom/13/_12352713.jpg', width='140px')
        .div.col-sm-7.col-sm-offset-3
          p.item_checking 
            span Item: 
            | UGG® 'Alamar' Twinsole® Slip-On (Men) X 1
            br
            span Unit Price: 
            | $69.99 
            br
            span Order Number: 
            | 831696422
            br
            span Date Ordered: 
            | 2017-05-01
    
    #retailer_contacted.retailer_contacted
      .row
        h3.col-sm-4  Nordstrom
        h4.col-sm-4.col-sm-offset-4 
          span(style='background-color:#840469;font color:;color: white;letter-spacing: 2px; padding: 5px;') contacted
      .row
        .div.col-sm-2
          img(src='http://n.nordstrommedia.com/ImageGallery/store/product/Zoom/13/_12352713.jpg', width='140px')
        .div.col-sm-7.col-sm-offset-3
          p.item_checking 
            span Item: 
            | UGG® 'Alamar' Twinsole® Slip-On (Men) X 1
            br
            span Unit Price: 
            | $69.99 
            br
            span Order Number: 
            | 831696422
            br
            span Date Ordered: 
            | 2017-05-01
    
    #refunded_savings.refunded_savings
      .row
        h3.col-sm-4  Nordstrom
        h4.col-sm-4.col-sm-offset-4 
          span(style='background-color:#008745;font color:;color: white;letter-spacing: 2px; padding: 5px;') refunded!   
      .row
        .div.col-sm-2
          img(src='http://n.nordstrommedia.com/ImageGallery/store/product/Zoom/13/_12352713.jpg', width='140px')
        .div.col-sm-7.col-sm-offset-3
          p.item_checking 
            span Item: 
            | UGG® 'Alamar' Twinsole® Slip-On (Men) X 1
            br
            span Unit Price: 
            | $69.99 
            br
            span Order Number: 
            | 831696422
            br
            span Date Ordered: 
            | 2017-05-01
